h1{
	text-align: center;
}
h3{
	color: white;
}
body{
	background-color: #2c3e50;
}
.Main{
	display: flex;
	color: white;
	flex-flow: column;
	align-items: center;
	border: 5px solid black;
}
.container1{

	height: 300px;
	width: 500px;
	display: flex;
	justify-content: flex-start;
	border: 2px solid black;
}
.flex-item{
	border: 2px solid white;
}

h4{
	color: white;
}
.container2{
	height: 400px;
	width: 500px;
	display: flex;
	justify-content: flex-end;
	border: 2px solid black;
}
.flex-item{
	border: 2px solid white;
}
h3{
	color: white;
}
.container3{
	height: 400px;
	width: 500px;
	display: flex;
	justify-content: center;
	border: 2px solid black;
}
.flex-item{
	border: 2px solid white;
}
h3{
	color: white;
}
.container4{
	height: 400px;
	width: 500px;
	display: flex;
	justify-content: space-between;
	border: 2px solid black;
}
.flex-item{
	border: 2px solid white;
}
h3{
	color: white;
}
.container5{
	height: 400px;
	width: 500px;
	display: flex;
	justify-content: space-around;
	border: 2px solid black;
}
.flex-item{
	border: 2px solid white;
}