.first-container{
	       display: flex;
           height:250px ;
           background: darkgray;
           justify-content: center;
           align-items: center;
           color: white;
}
.second-container{
	            margin:0px 100px 0px 100px;
	            color: white;

	           
}
.stylesheet{
	border: 2px solid gray;
	height: 500px;
	background: #3c3c3c;
	margin-top: 0;

}
.Navbar ul{
          border: 1px solid  #f0f0f0;	
          display: flex;
          justify-content: space-around;
          height: 100px;
          align-items: center;
          background: #f0f0f0;
          list-style-type: none;
          color: black;

}
.Navbar li a{
	text-decoration: none;
	font-size: 20px;
	transition: all .5s ease

}
.sub-container{
            border: 2px solid black;	
            background: white;
            height: 180px;

}
.Navbar li a:hover{
              background: #ee82ee;
}
.icon{
	
	border: 1px solid black;
	margin-right: 50px;
	display: flex;
	
	flex-wrap: wrap;
}