 *{
          box-sizing: border-box;	
          padding: 0;
          margin: 0;
 }
 body{
 	  background: #E1E7E4;
 }
 .Header{
	
	  background: black;
	  height: 200px;

	
	
}
.Header h1{
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  color: white;
	  padding-top: 60px;
	  margin-bottom: 0;
	  text-transform: uppercase;
	  align-items: center;
	  margin-left: 90px;
}
.Header h3{
	  text-align: center;
	  color: yellow;
	  margin-top: 0;
}
.Nav-Bar{
	  border: 1px solid yellow;
	  background: yellow;
	  height: 55px;
	  display: flex;
	  justify-content: space-around;

}
.Num1{
	  border: 1px solid yellow;
          flex-grow: 0;
          flex-basis:40%;
          text-align: center;
          align-items: center;
}

.Nav-Bar :hover {
          transform: 1sec all in ease;
          background: yellowgreen;
         
}
.Num2{
	
          flex-grow: 0;
          flex-basis:40%;
          text-align: center;
          
}
.container1{
	  display: flex;
	  padding:0 0 0 15px;
	
}
.left-side{
	  border: 2px solid black;
	  margin-top: 5px;
	  display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
}
.card1{
         flex-basis: 49%;
         margin-top: 5px;
}
.card1 h1{
	 border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
	

}
.card1 p{
         border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card2{
         flex-basis: 49%;
         margin-top: 5px;
}
.card2 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
	
}
.card2 p{
         border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card3{
         flex-basis: 32.6%;
         margin-top: 9px;
}
.card3 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card3 p{
	 border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card4{
         flex-basis: 32.6%;
         margin-top: 9px;
}
.card4 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card4 p{
	 border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card5{
         flex-basis: 32.6%;
         margin-top: 9px;
}
.card5 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card5 p{
	 border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card6{
         flex-basis: 100%;
         margin-top: 10px;
}
.card6 h1{
	 flex-basis: 100%;
	 border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card6 p{
        flex-basis: 100%;
        border: 2px solid white;
        padding: 10px 10px 10px 10px;
        background: white;
}
.heading1{
       flex-basis: 100%;
       margin-top: 30px;
}
.heading1 h1{
          border: 1px solid #E1E7E4;
          text-align: center;
}
.watch-con1{
	margin-top: 30px;
	display: flex;
	flex-basis: 100%;
}	
.left-side1{
	flex-basis: 30%;
}
.right-side1{
	flex-basis: 70%;
	border: 2px solid black;
	display: flex;
	flex-flow: column;
	background: black;
	color: white;
	

}
.heading2{
	border: 1px solid black;
	display: flex;
	margin-top: 80px;
	padding-left: 50px;
	
}
.list-items{
	border: 1px solid black;
	margin-top: 5px;
	
	   
}
.list-items ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding-right: 60px;
}
.paragraph{
	display: flex;
	border: 1px solid black;
	padding-left: 50px;
	margin-top: 10px;

}
p1{
       margin-left: 50px;
       margin-top: 25px;	
}
.watch-con2{
	display: flex;
	flex-basis: 100%;
	margin-top: 20px;
}
.left-side2{
	flex-basis: 30%;
	order: 2;
        
}
.right-side2{
	flex-basis: 70%;
	border: 2px solid black;
	display: flex;
	flex-flow: column;
	background: black;
	color: white;
	

}
.heading3{
	 display: flex;
	 margin-top: 80px;
	 padding-left: 50px;
	 border: 1px solid black;
}
.list-items1{
	display: flex;
	border: 1px solid black;
	margin-top: 5px;	   
}
.list-items1 ul{
	display: flex;
	justify-content: space-around;
	list-style: none;
	padding-right:60px;
}

.paragraph{
	display: flex;
	border: 1px solid black;
}
.Download{
	flex-basis: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.Download-con{
	flex-basis: 100%;
	margin-top: 20px;
}
.Download-con1{
	flex-basis: 100%;
	display: flex;
}
.sub-left{

	flex-basis: 20%;
}
.sub-con{
	flex-basis: 60%;
	border: 1px solid black;
}
.sub-right{
	flex-basis: 20%;
	border: 1px solid yellow;
	background: yellow;
}
.sub-right h1{
	     display: flex;
	    justify-content:center;
            margin-top: 50px;
}
.sub-right h4{
	display: flex;
	justify-content: center;
}
.Movies{
	flex-basis: 100%;
	margin-top: 20px;
	display: flex;
	justify-content: center;
}
.Movies-con{
	 flex-basis: 100%;
	 display: flex;
	 flex-wrap: wrap;
	 margin-top: 20px;
	 justify-content: space-between;
}
.Movies-card1{
	flex-basis: 30%;
	display: flex;
        padding: 3px;
}
.Movies-card2{
	flex-basis:40%;
	display: flex;
	padding: 3px;
}
.Movies-card3{
	flex-basis: 30%;
	display: flex;
	padding: 3px;
}
.Movies-card4{
	flex-basis: 60%;
	display: flex;
	padding: 3px;
}
.Movies-card5{
	flex-basis: 40%;
	display: flex;
	padding: 3px;
}
.Movies-card6{
	flex-basis: 40%;
	display: flex;
	padding: 3px;
}
.Movies-card7{
	flex-basis: 20%;
	display: flex;
	padding: 3px;
}
.Movies-card8{
	flex-basis: 40%;
	display: flex;
	padding: 3px;
}
.Movies-card9{
	flex-basis: 50%;
	display: flex;
	padding: 3px;
}
.Movies-card10{
	flex-basis: 50%;
	display: flex;
	padding: 3px;
}
.footer{
	border: 1px solid black;
	background: black;
	color: white;
	display: flex;
	margin-left: 12px;
	height: 50px;
	padding: 5px;

}
		
img{
        display: block;
        width: 100%;
}


.right-side{
	  border: 2px solid black;
          flex: 0 0 320px;
          margin-top: 5px;  
}

	

