.Header{
	
	background: black;
	height: 200px;
	
	
}
.Header h1{
	display: flex;
	justify-content: center;
	color: white;
	padding-top: 60px;
	margin-bottom: 0;
	text-transform: uppercase;
}
.Header h3{
	text-align: center;
	color: yellow;
	margin-top: 0;
}
.Nav-Bar{
	border: 1px solid yellow;
	background: yellow;
	height: 55px;
	display: flex;
	justify-content: space-around;

}
.num1{
	border: 1px solid yellow;
    flex-grow: 0;
    flex-basis:20%;
    text-align: center;
}

.Nav-Bar :hover {
        transform: 1sec all in ease;
        background: yellowgreen;
       
}
.num2{
	border: 1px solid yellow;
    flex-grow: 0;
    flex-basis:20%;
    text-align: center;
}
.section{
	display: flex;
}
 .left{
	
	
	
}
.right{
	margin: 10px 5px 5px 10px;
	display: flex;
	height: 250px;
	width: 250px;
}
.right img{
	margin-right: 8px;
}
.right img h3{
	border: 1px solid black;
	background: yellow;
	width:80px;
	height: 50px;
}