 *{
          box-sizing: border-box;	
          padding: 0;
          margin: 0;
 }
 body{
 	  background: #E1E7E4;
 }
 .Header{
	
	  background: black;
	  height: 200px;

	
	
}
.Header h1{
	  display: flex;
	  justify-content: center;
	  text-align: center;
	  color: white;
	  padding-top: 60px;
	  margin-bottom: 0;
	  text-transform: uppercase;
	  align-items: center;
	  margin-left: 90px;
}
.Header h3{
	  text-align: center;
	  color: yellow;
	  margin-top: 0;
}
.Nav-Bar{
	  border: 1px solid yellow;
	  background: yellow;
	  height: 55px;
	  display: flex;
	  justify-content: space-around;

}
.num1{
	  border: 1px solid yellow;
          flex-grow: 0;
          flex-basis:40%;
          text-align: center;
}

.Nav-Bar :hover {
          transform: 1sec all in ease;
          background: yellowgreen;
       
}
.num2{
	
          flex-grow: 0;
          flex-basis:40%;
          text-align: center;
}
.container1{
	  display: flex;
	  padding:0 0 0 15px;
	
}
.left-side{
	  border: 2px solid black;
	  margin-top: 5px;
	  display: flex;
	 justify-content: space-between;
	 flex-wrap: wrap;
}
.card1{
         flex-basis: 49%;
         margin-top: 5px;
}
.card1 h1{
	 border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
	

}
.card1 p{
         border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card2{
         flex-basis: 49%;
         margin-top: 5px;
}
.card2 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
	
}
.card2 p{
         border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card3{
         flex-basis: 32.6%;
         margin-top: 9px;
}
.card3 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card3 p{
	 border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card4{
         flex-basis: 32.6%;
         margin-top: 9px;
}
.card4 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card4 p{
	 border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card5{
         flex-basis: 32.6%;
         margin-top: 9px;
}
.card5 h1{
         border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card5 p{
	 border: 1px solid white;
         background: white;
         padding: 7px 10px 10px 7px;
}
.card6{
         flex-basis: 100%;
         margin-top: 10px;
}
.card6 h1{
	 flex-basis: 100%;
	 border: 2px solid yellow;
	 background: yellow;
	 text-align: center;
}
.card6 p{
        flex-basis: 100%;
        border: 2px solid white;
        padding: 10px 10px 10px 10px;
        background: white;
}
.heading1{
       flex-basis: 100%;
       margin-top: 30px;
}
.heading1 h1{
          border: 1px solid #E1E7E4;
          text-align: center;
}
.watch-con1{
	flex-basis: 30%;
	margin-top: 30px;
	
}
.heading2{
        border: 1px solid black;
        flex-basis: 70%;
	margin-top: 30px;
	background: black;
	color: white;
}
.heading2 h1{
	padding: 80px 20px 0 110px;
}
.heading2 ul{
	   padding:0 0 0 31px; 
	   display: flex;
	   margin-top: 5px;
	   justify-content:space-evenly;
	   list-style: none;
}
.heading2 p{
	   padding:0 0 0 109px; 
	   margin-top: 10px;
}
.heading2 h4{
	   padding:0 0 0 109px; 
	   margin-top: 10px;
}
.watch-con2{
	flex-basis: 30%;
	margin-top: 30px;
	order: 2;
}
.heading2{
        border: 1px solid black;
        flex-basis: 70%;
	margin-top: 30px;
	background: black;
	color: white;
}
.heading2 h1{
	padding: 80px 20px 0 110px;
}
.heading2 ul{
	   padding:0 0 0 31px; 
	   display: flex;
	   margin-top: 5px;
	   justify-content:space-evenly;
	   list-style: none;
}
.heading2 p{
	   padding:0 0 0 109px; 
	   margin-top: 10px;
}
.heading2 h4{
	   padding:0 0 0 109px; 
	   margin-top: 10px;
}

img{
        display: block;
        width: 100%;
}

.right-side{
	
	  border: 2px solid black;
          flex: 0 0 320px;
          margin-top: 5px;
  
}

	

